{% extends "layout.html" %}

{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">Welcome {{ organiser.first_name }}</h1>

        <div class="row">
            <div>
                <h2>Search Events</h2>
                <form method="POST" action="{{ url_for('organiser_home') }}" class="mb-4">
                    {{ search_form.hidden_tag() }}
                    <div class="form-group">
                        {{ search_form.search(class="form-control") }}
                        <div class="d-flex justify-content-center p-3">
                            <button class="btn btn-secondary" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row mt-4">
            <div>
                <h2>My Events</h2>
                <ul class="list-group">
                    {% for event in events_held_by_organiser %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a href="{{ url_for('event_details_organiser', event_id=event.id) }}">{{ event.event_name }}</a>
                            <div class="btn-group" role="group">
                                <a href="{{ url_for('edit_event', event_id=event.id) }}" class="btn btn-info m-1">Edit</a>
                                <a href="{{ url_for('create_logistics', event_id=event.id) }}" class="btn btn-info m-1">Create Logistics</a>
                                <a href="{{ url_for('declare_winner', event_id=event.id) }}" class="btn btn-success m-1">Declare Winners</a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>

                <div class="mt-3 d-flex justify-content-center">
                    <a href="{{ url_for('create_event') }}" class="btn btn-primary m-1">Create Event</a>
                    <a href="{{ url_for('index') }}" class="btn btn-secondary m-1">Logout</a>
                </div>
            </div>
        </div>

        <p class="mt-4">Here, you can manage your events and more.</p>
    </div>
{% endblock content %}
