{%extends "layout.html"%}
{%block content%}
{% for participant in participants %}
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">{{ participant.student_name }}</h1>
            <p class="card-text"><strong>College name:</strong> {{ participant.college_name }}</p>
            <p class="card-text"><strong>Location:</strong> {{ participant.college_location }}</p>
            <a href="{{ url_for('remove_participant',id = participant.id) }}" class="btn btn-primary">Remove</a>
        </div>
    </div>
</div>
{%endfor%}
<div class="container mt-5 d-flex justify-content-center">
    <a href="{{ url_for('admin_home') }}" class="btn btn-secondary ">Back</a>
</div>
{%endblock%}
            