{%extends "layout.html"%}
{%block content%}
{% for student in students %}
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">{{ student.student_name }}</h1>
            <p class="card-text"><strong>Roll:</strong> {{ student.roll }}</p>
            <p class="card-text"><strong>Dept:</strong> {{ student.dept_name }}</p>
            <a href="{{ url_for('remove_student',roll = student.roll) }}" class="btn btn-primary">Remove</a>
        </div>
    </div>
</div>
{%endfor%}
<div class="container mt-5 d-flex justify-content-center">
    <a href="{{ url_for('admin_home') }}" class="btn btn-secondary ">Back</a>
</div>
{%endblock%}
            